<!-- Template For Been There Done That, for each step -->
<!-- Edit hte indextemplate.handlebars and the burgers_controller -->
 <!-- BTDT <- change this from burges -->


<h1>Been There Done That!</h1>

{{#if username}}
  Welcome {{username}}! What would you like to do today?
{{/if}}

{{#unless logged_in}}
  <p> Sign up to find out things to do today!! </p>
{{/unless}}

<!-- Suggestion: Add images here of popular places -->


</ul>
