<!-- Template For Been There Done That, for Step 1-->


<h1>Been There Done That!</h1>

{{#if username}}
  Welcome {{username}}! Let's work on where to go.
{{/if}}

{{#unless logged_in}}
  <p> Sign up to find out where to go next! </p>
{{/unless}}

{{#if logged_in}}


<!-- <form class="form-horizontal" action="/search" method="GET"> -->
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- First Question: Please type in a location-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Please type in a location or click GPS Locate Me, so we can help find places for you">Please type in a location or click GPS Locate Me, so we can help find places for you</label>
  <div class="col-md-4">
    <input id="location" name="What is your current location?" type="search" placeholder="" class="form-control input-md">
 
    <!-- How do you update the gps location box based on where someone is? For example, if they clicked GPS Locate Me it will push the search result into that box -->
    <!-- We also need to update the AJAX Call here, so we would update correct? -->

     <button id="gpslocateme" name="gpslocateme" class="btn btn-primary">GPS Locate Me</button>
  
<!-- Sample AJAX -->
<!-- Is this the correct way to update the lat and long? or should we convert this to address? We need to also put in the AJAX Call here -->
 <form action="gpss/update/{{this.lat, this.long}}?_method=PUT" method="POST">

  </div>
</div>

<!-- Second Question: Please select a place you want to go-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Select a place that you want to go to.</label>  
  <div class="col-md-4">
<div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="Bars">Bars</option>
       <option value="Museums">Museums</option>
      <option value="Nightlife">Nightlife</option>
      <option value="Parks">Parks</option>
     <option value="Restaurants">Restaurants</option>
    </select> 
  </div>
</div>

<!-- Third Question: How far are you willing to travel?-->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">How far are you willing to travel (miles)?</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">

  <!-- Not sure how we link both AJAX together. We would update the YELP -->
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Search</button>
      
 

  </div>
</div>

</fieldset>
</form>

{{/if}}




<!-- Suggestion: Add images here of popular places -->



