<!-- Template For Been There Done That, for Step 1-->


<h1>Been There Done That!</h1>

{{#if username}}
  Welcome {{username}}! Let's work on where to go.
{{/if}}

{{#unless logged_in}}
  <p> Sign up to find out where to go next! </p>
{{/unless}}

{{#if logged_in}}


<form class="form-horizontal" action="/search" method="GET">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="What is your current location?">What is your current location?</label>
  <div class="col-md-4">
    <input id="What is your current location?" name="What is your current location?" type="search" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Select a place that you want to go to.</label>  
  <div class="col-md-4">
<div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="Bars">Bars</option>
       <option value="Museums">Museums</option>
      <option value="Nightlife">Nightlife</option>
      <option value="Parks">Parks</option>
     <option value="Restaurants">Restaurants</option>
    </select> 
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">How far are you willing to travel (miles)?</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Search</button>
  </div>
</div>

</fieldset>
</form>

{{/if}}




<!-- Suggestion: Add images here of popular places -->



