
<!-- Template For Been There Done That, for Step 2-->
<!-- Update this based on the API -->
<ul>

<!-- update this to the respective controller -->
  {{#each btdts}}
    {{#if this.yelp_id}}
     


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Been There, Done That!
			</h3>
			<div class="jumbotron">
				<h2>
					Thanks for checking out Central Park. We found 3 more places for you!
				</h2>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Brooklyn Park
				<!-- this.yelpname (changet this based on teh field name) -->
			</h2>
			<p>
					<!-- this.yelpd desription of the place (changet this based on teh field name) -->

				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default active">
				Directions
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				Socrates (Astoria) Park
					<!-- this.yelpname (changet this based on teh field name) -->
			</h2>
			<p>
					<!-- this.yelpd desription of the place (changet this based on teh field name) -->

				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default">
				Directions
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				Washington Square Park
					<!-- this.yelpname (changet this based on teh field name) -->
			</h2>
			<p>
					<!-- this.yelpd desription of the place (changet this based on teh field name) -->
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default">
				Directions
			</button>
		</div>
	</div>
</div>


<!-- update the hrfe -->
<!-- make a controller (based on whichever button person clicks) and then redirect them to step 3 in the controlelr (make a route) -->


    {{/if}}
  {{/each}}
</ul>