<!-- Template For Been There Done That, for Step 3-->


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Been There, Done That!
			</h3>
			<div class="jumbotron">
				<p>
					<span>Thanks for choosing Brooklyn Park. We have directions below for you based on your current location.</span><a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Driving Directions
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default active">
				Directions
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				Public Transit Directions
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default">
				Directions
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				Walking Directions
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> 
			<button type="button" class="btn btn-default">
				Directions
			</button>
		</div>
	</div>
</div>